*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset{
    border: none;
}

#main{
    display: flex;
    height: 100vh;
    width:100vw;
}

#left-container{
    background-color: rgb(15, 16, 14);
    width: 35vw;
    background-image: url("./images/blake-verdoorn-cssvEZacHvQ-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#right-container{
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(249, 251, 255);
}


.right-container-child{
    width: 100%;
    padding: 0px 25px 0 25px;
    
}

.formTitle, .topSection{
    text-align: center;
}

.formSectionContainer{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -1px 5px;
    padding: 15px 0 15px 0;
}

.form-sub-section{
    display: flex;
    flex-direction: row;
    background-color:rgb(255,255,255);
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}

.form-item{
    display: flex;
    flex-direction: column;
}

input, label{
    width: 275px;
}

input{
    margin-bottom: 10px;
    height: 30px;
}

.submitButtonContainer{
    width: 100%;
    text-align: center;
}



input:valid{
    border: 2px solid rgb(46, 170, 79);
}



/* CSS */
.submitButton {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.submitButton:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.submitButton:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.submitButton:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}




@media (max-width: 900px){

    .topSection, .bottomSection{
        font-size: .7rem;
    }
  
}

@media (max-width: 800px){
    #main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 500px){

    .topSection, .bottomSection{
        font-size: .6rem;
    }
}